page-welcome {
	#welcome{
		background: color($colors, lightblue);
	}
	
	.logo{
		text-align: center;
	}
	
	#h3{
		text-align: center;
	}
	
	.marginTop{
		margin-top: 140px;
		margin-bottom: 10px;
	}
}
